/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

/* Forntend Form */
.membership-level-detail, 
.md-profile-options {
  width: 1200px;
  display: flex;
  flex-direction: column;
  place-self: center;
  margin-top: 200px;
  margin-bottom: 100px;
}

.md-profile-options{
  flex-direction: row !important;
  margin-top: 150px;
  gap: 20px;
}

.mem-title {
  font-family: var(--e-global-typography-primary-font-family), Sans-serif !important;
  font-size: 58px;
  font-weight: 500 !important;
}

h2.mem-title {
  font-size: 40px;
}

.membership-content p {
  font-family: var(--e-global-typography-primary-font-family), Sans-serif !important;
  font-weight: 500;
  line-height: 1.8em;
  font-size: 16px;
  color: #333;
}

form#membership-form,
.md-profile-settings-menu {
  background: white;
  padding: 40px 40px;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

form#membership-form input,
form.md-profile-form input {
  background: #fafafa;
  border: 1px solid #eaeaea;
  border-radius: 6px;
}

form#membership-form .input-box label,
form.md-profile-form label {
  font-family: var(--e-global-typography-primary-font-family), Sans-serif !important;
  font-weight: 400;
  line-height: 1.8em;
  font-size: 16px;
  color: #333;
}

form#membership-form .input-box.full {
  width: 100%;
}

form#membership-form .input-box.half {
  width: 49%;
}

form#membership-form #card-element {
  /* width: 36%; */
  align-content: center;
}

fieldset {
  width: 410px;
  padding: 0 !important;
}

legend {
  font-family: var(--e-global-typography-primary-font-family), Sans-serif !important;
  font-weight: 600;
  line-height: 1.8em;
  font-size: 20px;
  /* font-weight: 600; */
}

.method-fields {
  display: none;
  margin-top: 12px;
}

.method-fields.active {
  display: block;
}
/* .row {
  display: flex;
  gap: 12px;
} */
/* .col {
  flex: 1;
  min-width: 0;
} */
/* 
.payment-options label {
  display: block;
  margin: 5px 0;
  cursor: pointer;
} */

form#membership-form fieldset label {
  margin-right: 12px;
  cursor: pointer;
}

.method-fields {
  margin-top: 15px;
}

form#membership-form #submitBtn,
.md-profile-settings-menu button,
.md-profile-settings-menu .button {
  padding: 12px 28px;
  border-radius: 6px;
  border: 2px solid white;
  transition: 0.3s ease;
}

.md-profile-settings-menu button.md-cancel-btn{
  background-color: #e70000;
}

.md-profile-settings-menu button.md-cancel-btn:hover{
  background-color: #a80101;
}

.md-profile-settings-menu a.button {
  background: #000;
  color: #f7f7f7;
  padding: 15px 28px;
}

.md-profile-settings-menu a.button:hover {
  background: #167b1d;
}

/* Account page  */

.md-profile-settings {
  background-color: #6C757D;
  padding: 30px;
  padding-top: 50px;
  border-radius: 8px;
}

.md-profile-setting-listings {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.md-profile-setting-listings li a {
  color: white;
  font-size: 18px;
  font-family: "Montserrat", Sans-serif;
}

.md-profile-setting-listings li:hover a {
      color: #d6d6d6;
}

.md-profile-setting-listings hr {
  margin: 0;
  color: white;
}

.md-profile-settings {
  width: 35%;
}

.md-profile-settings-menu {
  width: 100%;
  /* padding: 20px 20px;
  border: 1px solid hsla(0, 0%, 50.2%, 0.5019607843);
  background-color: #f2f1f1; */
  display: block;
}


.md-profile-field-cont {
  display: flex;
  gap: 15px;
}
.profile-field {
  width: 50%;
}
.profile-save-btn {
  margin-top: 10px;
}

.setting-menu-listing h3 {
  border-bottom: 2px solid #6c757d38;
  padding-bottom: 10px;
}
.field_wrapper {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.cfm-password-field,
.password-field,
.country-field,
.pincode-field,
.state-field,
.city-field {
  width: 50%;
}
